html {
    padding: 20px;
    /*Padding puts invisible margins around the outside of all the
    text to make it look nicer and not stick towards the edges*/
}

body {
    padding: 5px;
    /*Creates space and room between the edge of the screen and all the of the contents.*/
    background: linear-gradient(to bottom, rgb(135, 49, 150), rgb(157, 108, 11))
    /*Making a background colour for the page, a nice sunset like colour to ease out the eyes in contrast to a blank white screen*/
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.question-answer{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 30rem;
}
/*This specifies the dimensions and constraints of each section as a container, defining how big or small the section is supposed to be*/

summary{
    font-size: 25;
    font-weight: bold;
}
/*This makes it so that the font size of the 'summary' looks like h2, essentially replacing h2*/

h1 {
    margin-bottom: 40px;
}
/* Priorities:
p is an elemenet, which is 1 point of value(specificity)

Elements = 1, 
example = 'p' or 'paragraph'

Class, pseudo-class, attribute = 10, 
example = .test1

ID = 100
example = #demo

Style attribute = 1000
<p style="color: pink;">
*/
p {
    font-size: 20;
    margin-left: 30px;
    color: rgb(137, 27, 10);
    padding-right: 3rem;

}
