html {
    padding: 20px;
    /*Padding puts invisible margins around the outside of all the
    text to make it look nicer and not stick towards the edges*/
}

body {
    padding: 5px;
    /*Creates space and room between the edge of the screen and all the of the contents.*/
    background: linear-gradient(to bottom, rgb(135, 49, 150), rgb(157, 108, 11))
    /*Making a background colour for the page, a nice sunset like colour to ease out the eyes in contrast to a blank white screen*/
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*Making a grid container for sections all under div.*/
}

.question-answer{
    border: 2px, solid, white;
    /*adding a border effect to make each section look distinguishable, and polished.*/
    border-radius: 20px;
    /*rounded corners are added using this command.*/
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 30rem;
    /*General text constraint and specifying within the box or 'card'*/
    box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.1);
    /*added a small detail, a shadow under the the box in the colour black to make each box to stand out.*/
}
/*This specifies the dimensions and constraints of each section as a container, defining how big or small the section is supposed to be*/

summary{
    font-size: 25;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/*This makes it so that the font size of the 'summary' looks like h2, essentially replacing h2*/

h1 {
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*selecting a font for the header, the title of the page.*/
}

h2 {
    font-size: 20;
    color: rgb(119, 5, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Priorities:
p is an elemenet, which is 1 point of value(specificity)

Elements = 1, 
example = 'p' or 'paragraph'

Class, pseudo-class, attribute = 10, 
example = .test1

ID = 100
example = #demo

Style attribute = 1000
<p style="color: pink;">
*/
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*labelling the text with a font, chosen font and colours for paragraph is sans-serif.*/
    font-size: 20;
    margin-left: 30px;
    color: rgb(11, 0, 82);
    padding-right: 3rem;
    /*adjusting paragraph's text looks*/
}
